 body{
 	background-image: url('../imgs/fundos.png');
 	background-color: #111;
 }

#titulo_jogo{
	color: #fff;
	text-align: center;
	margin-top: 45px;
}

.placar{

	font-size: 24px;
	float:left; 
	width:50%;
}
 #area_jogo{

 	width: 45%;
 	min-height: 320px;
 	background-color: #eee;
 	margin: 0 auto;
 	padding: 10px;
 	box-shadow: 5px 5px 10px #000;
 }

 #imagem_jogo{
 	width: 200px;
 	height: 140px;
 	position: relative;
 	margin: 10px auto;

 }

 #area_respostas{


 }

 ul{
    list-style-type: none;
    margin-left: 25%; 
}

#btn_seguinte{
	position: relative;
	bottom: 30px;
	right: 5px;
	padding: 6px 12px;
	float: right;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    color: #ffffff;
  	vertical-align: middle;
  	font-size: 14px;
  	font-weight: normal;
  	background-color: #5bc0de;
    line-height: 1.42857143;
    border-radius: 4px;

}

.opts{
	font-size: 20px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
     #area_jogo{
		width: 80%;
 	}
 	.placar{
 		width: 100%;
 		text-align: center !important;
	}
}